{% extends 'templates/app.twig' %}

{% block content %}

    {% include 'templates/partials/sidebar.twig' %}

    <div class="main-panel">
        {% include 'templates/partials/navbar.twig' %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title ">API参数列表</h4>
                                <p class="card-category"> 您可以新建、编辑、删除任何新项目</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <tr><th>
                                                ID
                                            </th>
                                            <th>
                                                参数名称
                                            </th>
                                            <th>
                                                参数类型
                                            </th>
                                            <th>
                                                操作
                                            </th>
                                        </tr></thead>
                                        <tbody class="item-api-list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">新建参数</h4>
                                <p class="card-category"></p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating">项目名称</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating">项目类型</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>项目描述</label>
                                                <div class="form-group bmd-form-group">
                                                    <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she
                                                        so thirsty, I'm in that two seat Lambo.</label>
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-body">
                                <h4 class="card-title">您的API是</h4>
                                <p class="card-description">
                                    http://localhost/api/v1/send.php?
                                </p>
                                <a href="#pablo" class="btn btn-primary btn-round">复制</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'templates/partials/footer.twig' %}


    </div>
{% endblock %}

